<div style="text-align:center">
  <div style="background-color: cornflowerblue">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <a href="#" class="thumbnail"></a>
    <img class = "img-resonsive" width="200" alt="Clash_Royale_Logo" src="https://vignette.wikia.nocookie.net/clashroyale/images/6/6c/Clash_Royale_Logo.png/revision/latest?cb=20160104193540">
  </div>
</div>
<div style="background-color: whitesmoke">
  <h2 style="text-align:center">Enter your clan tag here: </h2>
</div>
<div style="text-align:center">
  <div style="background-color: goldenrod">
    <label style="text-align:center">clan tag:</label>
    <input type="text" required>
    <button type="submit">Enter</button>
  </div>
</div>
<pm-products></pm-products>
